*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   background-color: black; 
}
h1{
    background: linear-gradient(to right,#7f40ed, #f2405a);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    font-weight: bolder; 
    text-align: center;
}
.forms{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    border: 1px solid #ccc; 
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 80%;
    color: #000000;
    font-size: 1.5rem;
}
label {
    font-weight: 700;
    margin: 8px 4px;
}

select,input,textarea {
    width: 97%;
    padding: 8px;
    margin: 5px 0px 12px 0px;
    background-color: transparent;
    border: 3px solid #b7b3b3;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.1s;
}
select{
    width: 99%;
}
select:hover,input:hover,textarea:hover{
    border: 3px solid #9c4ea4;
}
.form-group button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #6433b7, #ef1637);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.form-group button:hover {
    padding: 15px;
}