* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    width: 80%;
    color: #000000;
    padding: 20px;
}

.login-container h1 {
    background: linear-gradient(to right, #7f40ed, #f2405a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 10px 0;
}

.label {
    font-size: 25px;
    margin: 8px 4px;
}

.email,
.password,
.username {
    width: 95%;
    height: 5vh;
    margin: 8px 0;
    padding: 5px 10px;
    background-color: transparent;
    border: 3px solid #b7b3b3;
    border-radius: 10px;
}

.email:hover,
.password:hover,
.username:hover {
    border: 3px solid #9c4ea4;
}

.btn {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #7731f0, #ef1637);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    padding: 15px;
    margin: 0px;
}