*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: right;
}

.user{
    font-size: large;
    background: linear-gradient(to right, #7f40ed, #f2405a);
    padding: 1vh;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}

.add-startup,
.login
 {
    margin: 2vh 1vh;
    padding: 2vh;
    background: linear-gradient(to right, #7f40ed, #f2405a);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
}

.add-startup:hover,
.login:hover {
    padding: 2.5vh;
    margin:1.5vh .5vh;
    border-radius: 25px;
}

h1,
h2 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name {
    background: linear-gradient(to right, #7f40ed, #f2405a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    border-right: 2px solid black;
    padding-right: 5px;
    animation: blink 0.75s step-end infinite;
    font-size: 30px;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filer-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 80%;
    color: #000000;
    font-size: 1.5rem;
}

label {
    font-weight: 700;
    margin: 8px 4px;
}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0px 12px 0px;
    background-color: transparent;
    border: 3px solid #b7b3b3;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.1s;
}

select:hover {
    border: 3px solid #9c4ea4;
}

#find_startups {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #7731f0, #ef1637);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

#find_startups:hover{
    padding: 15px;
    margin:0px;
}

.status {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.startup-container {
    width: 90%;
    margin: 20px auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly; */
    display: grid;
    justify-items: center;
    flex-grow: 1;
}

.startup-card {
    width: 80%;
    background-color: white;
    color: black;
    padding: 2vw;
    border-radius: 20px;
    margin-bottom: 5vw;
    opacity: 0;
    /* transform: translateY(50px); */
    /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
}


.startup-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo{
    border-radius: 20%;
    width: 70px;
}

.heading {
    display: flex;
    align-items: center;
}

.startup-card .name {
    font-size: 30px;
    font-weight: 700;
    margin-left: 3vw;
    background-color: white;
    color: #000000;
}

.startup-card h3{
    padding: .5em 0;
}

.startup-card p {
    font-size: 1.1rem;
    padding: .5em 0;
}

.startup-card span {
    background-color: lightblue;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 4px;
    display: inline-block;
    color: blue;
    font-size: large;
    font-weight: bolder;
}

.link { 
    padding: 10px;
    text-align: center;
}

.startup-card a {
    text-decoration: none;
    color: rgb(78, 75, 75);
    font-size: large;
}
.startup-card a:hover {
    color: rgb(0, 0, 0);
}

@media screen and (orientation: portrait) {
    .startup-container {
        grid-template-columns: 1fr;
    }
    .startup-card{
        width: 90%;
    }
}
@media screen and (orientation: landscape){
    .startup-container {
        grid-template-columns: 1fr 1fr;
    }
}